/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "阿里妈妈刀隶体 Regular";
  font-weight: 400;
  src: url("https://at.alicdn.com/wf/webfont/xMzJvwHL15sY/68jGydzjBlj1.woff2")
      format("woff2"),
    url("https://at.alicdn.com/wf/webfont/xMzJvwHL15sY/yuwDQ1h4oiXh.woff")
      format("woff");
  font-variation-settings: normal;
  font-display: swap;
}
