@font-face {
    font-family: "iconfont"; /* Project id 5051904 */
    src: url('https://at.alicdn.com/t/c/font_5051904_wkkxfnpljt.woff2?t=1764211929979') format('woff2'),
         url('https://at.alicdn.com/t/c/font_5051904_wkkxfnpljt.woff?t=1764211929979') format('woff'),
         url('https://at.alicdn.com/t/c/font_5051904_wkkxfnpljt.ttf?t=1764211929979') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-tingzhi:before {
    content: "\e611";
  }
  
  .icon-send-s:before {
    content: "\e652";
  }
  